In [3]:
#To load or manage or perform any dataframe related operations we use pandas library
import pandas as pd

In [4]:
#Loading the dataframe
df=pd.read_excel('Xiaomi.xlsx')

In [3]:
df.head()

,Customer ID,Day,Browser,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
0,1,Monday,Chrome,13,4,8.5,2668.0
1,2,Saturday,Chrome,15,5,16.9,3469.0
2,3,Monday,Internet Explorer,20,6,7.3,5215.0
3,4,Monday,Chrome,42,6,30.1,10423.0
4,5,Saturday,Internet Explorer,20,6,13.3,5404.0

In [5]:
#Function to get the summary of the data
df.describe()

,Customer ID,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
count,43200.000000,43200.000000,43200.000000,43200.000000,43200.000000
mean,21600.500000,23.740000,4.820000,12.810000,6812.820000
std,12470.910151,8.267647,2.016853,6.002444,3201.905731
min,1.000000,8.000000,2.000000,4.300000,1784.000000
25%,10800.750000,18.000000,3.000000,8.500000,4473.000000
50%,21600.500000,22.500000,4.500000,11.400000,6215.000000
75%,32400.250000,29.000000,6.000000,15.100000,8412.000000
max,43200.000000,46.000000,10.000000,32.900000,15851.000000

In [6]:
#set function to get the correlation matrix
df.corr()

,Customer ID,No. of Clicks,Pages Viewed,Time (min),Amount Spent (Rs.)
Customer ID,1.000000,0.002474,0.000821,-0.001407,0.002682
No. of Clicks,0.002474,1.000000,0.566934,0.516365,0.903248
Pages Viewed,0.000821,0.566934,1.000000,0.595568,0.723667
Time (min),-0.001407,0.516365,0.595568,1.000000,0.580048
Amount Spent (Rs.),0.002682,0.903248,0.723667,0.580048,1.000000

In [7]:
#spliting the dataframe
#First method
y=df[['Amount Spent (Rs.)']]
x=df[['No. of Clicks','Pages Viewed','Time (min)']]

In [15]:
x

       No. of Clicks  Pages Viewed  Time (min)
0                 13             4         8.5
1                 15             5        16.9
2                 20             6         7.3
3                 42             6        30.1
4                 20             6        13.3
...              ...           ...         ...
43195             31             3        13.4
43196             13             4         8.5
43197             29            10        32.9
43198             20             6         7.3
43199             29             4        11.3

[43200 rows x 3 columns]

In [16]:
#Building the linear regression model
from sklearn.linear_model import LinearRegression

In [17]:
#Building & fitting regression model on x and y
model=LinearRegression()
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
model.coef_

array([[278.07373278, 472.24706889,  17.13900689]])

In [19]:
#checking the accuracy
from sklearn.metrics import r2_score

In [21]:
predict=model.predict(x)

In [23]:
r2_score(y,predict)

0.8824471783830896